<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Garden
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Garden</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="parent">
    <div class="cell div1"><app-table [size]="4"></app-table></div>
    <div class="cell div2"><app-table [size]="2"></app-table></div>
    <div class="cell div3"><app-table [size]="4"></app-table></div>
    <div class="cell div4"><app-table [size]="3"></app-table></div>
    <div class="cell div5"><app-table [size]="3"></app-table></div>
    <div class="cell div6"><app-table [size]="2"></app-table>
                            <app-table [size]="2"></app-table>
                            <app-table [size]="2"></app-table>
    </div>
    <div class="cell div7"><app-table [size]="3"></app-table></div>
    <div class="cell div8"><app-table [size]="4"></app-table></div>
    <div class="cell div9"><app-table [size]="3"></app-table></div>
    <div class="cell div10"><app-table [size]="4"></app-table></div>
    <div class="cell div11"><app-table [size]="2"></app-table></div>
    </div>
</ion-content>
