<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hall </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="parent">
    <div class="cell div1"><app-table [size]="4"></app-table></div>
    <div class="cell div2"><app-table [size]="4"></app-table></div>
    <div class="cell div3"><app-table [size]="4"></app-table></div>
    <div class="cell div4"><app-table [size]="3"></app-table></div>
    <div class="cell div5"><app-table [size]="4"></app-table></div>
    <div class="cell div6"></div>
    <div class="cell div7"><app-table [size]="2"></app-table></div>
    <div class="cell div8"><app-table [size]="2"></app-table></div>
    <div class="cell div9"><app-table [size]="3"></app-table></div>
    <div class="cell div10"><app-table [size]="3"></app-table></div>
    <div class="cell div11"><app-table [size]="3"></app-table></div>
  </div>
</ion-content>
