<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Hall </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="parent">
    <div [ngClass]="'cell div'+item.position" *ngFor="let item of hallTables">
      <app-table
        [activeOrderId]="item.activeOrderId"
        [id]="item.id"
        [size]="item.size"
        (reload)="reload()"
      ></app-table>
    </div>
  </div>
</ion-content>
