//table for 4
.table-holder {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  .table {
    background-color: rgb(73, 73, 73);
    position: absolute;
  }
  &.occupied {
    .table {
      background-color: rgba(233, 31, 119, 0.912);
    }
  }
  &.occupied-my {
    .table {
      background-color: rgba(67, 25, 163, 0.912);
    }
  }

  .chair {
    background-color: rgb(28, 152, 156);
    border-radius: 50% / 100% 100% 0 0;
    position: absolute;
    width: 25px;
    height: 15px;
  }

  &.size4 {
    .table {
      width: 70px;
      height: 40px;
      border-radius: 5px;
      top: calc(50% - 20px);
    }
    .chair {
      &:nth-child(-n + 2) {
        top: 3px;
      }
      &:nth-child(n + 3) {
        transform: rotate(180deg);
        bottom: 3px;
      }
      &:nth-child(odd) {
        left: 10px;
      }
      &:nth-child(even) {
        right: 10px;
      }
    }
  }
  //table for 3
  &.size3 {
    .table {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
    }
    .chair {
      &:nth-child(1) {
        transform: rotate(-60deg);
        left: -2px;
        top: 15px;
      }
      &:nth-child(2) {
        transform: rotate(60deg);
        right: -2px;
        top: 15px;
      }
      &:nth-child(n + 3) {
        transform: rotate(180deg);
        bottom: -2px;
      }
    }
  }

  //table for 2
  &.size2 {
    .table {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      top: calc(50% - 20px);
    }
    .chair {
      &:nth-child(1) {
        top: 3px;
      }
      &:nth-child(2) {
        transform: rotate(180deg);
        bottom: 3px;
      }
    }
  }
}
