<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hall-tab" >
      <ion-icon name="home-outline" ></ion-icon>
      <ion-label>Hall</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="terrace-tab">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Terrace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="garden-tab">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>Garden</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
